In [4]:
import pandas as pd

In [5]:
df_sma = pd.read_csv("./SMA/FPS_CUDA_SMA.csv")
df_wma = pd.read_csv("./WMA/FPS_CUDA_WMA.csv")

In [7]:
df_sma

     Frame      SMA
0        1  28.6771
1        2  28.4430
2        3  26.2515
3        4  24.6615
4        5  23.5115
..     ...      ...
294    295  25.5253
295    296  25.5374
296    297  25.5411
297    298  25.5487
298    299  25.5560

[299 rows x 2 columns]

In [8]:
df_wma

     Frame      WMA
0        1  22.4992
1        2  22.7435
2        3  20.7364
3        4  19.9838
4        5  19.5866
..     ...      ...
294    295  25.3034
295    296  25.3086
296    297  25.3359
297    298  25.3365
298    299  25.3611

[299 rows x 2 columns]

In [12]:
frames = df_wma['Frame']
fps_wma = df_wma['WMA']
fps_sma = df_sma['SMA']

In [13]:
import matplotlib.pyplot as plt

In [ ]:
plt.xlabel("Frames")
plt.ylabel("FPS (frames per second)")